<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='用户管理'">

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">

        <form id="userSearch" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">操作系统类型</label>
                <div class="layui-input-inline">
                    <input id="systemType" name="systemType" autocomplete="off" class="layui-input" type="text"/>
                </div>

                <label class="layui-form-label">操作系统版本</label>
                <div class="layui-input-inline">
                    <input id="systemVersion" name="systemVersion" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button class="layui-btn"  lay-submit="" lay-filter="searchSubmit">查询</button>
            </div>
        </form>

        <!--<hr class="layui-bg-blue"/>-->
        <hr class="layui-bg-black"/>

        <button class="layui-btn layui-btn-normal  layui-icon layui-icon-addition" onclick="addServer()">新增</button>
        <button class="layui-btn layui-btn-normal" onclick="addServerBath()">导入EXCEL</button>
        <a onclick="doexport(this)"  class="layui-btn layui-btn-normal"><i class="fa fa-download"></i>导出</a>
        <button  th:if="${roleCode=='admin'}"  class="layui-btn layui-btn-danger" type="button" onclick="deleteServerBatch()">
            批量删除
        </button>
        <a href="/server/export/two"  class="layui-btn layui-btn-danger"><i class="fa fa-download"></i>导出二维码</a>
        <div style="display:none;" id="currentUser"><shiro:principal property="id"></shiro:principal></div>

        <table id="immsServerList" lay-filter="devTable"></table>
        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs  layui-icon layui-icon-edit" lay-event="edit">编辑</a>
            <a  th:if="${roleCode=='admin'}"  class="layui-btn layui-btn-danger layui-btn-xs layui-icon layui-icon-delete" lay-event="del">删除</a>

        </script>
        <script type="text/html" id="twoBar">
            <a th:if="${roleCode=='admin'}" class="layui-btn layui-btn-normal layui-btn-xs" lay-event="createTwo">生成二维码</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="queryTwo" style="background-color: #FFB800">查看二维码</a>
        </script>
    </div>


    <div id="setServer" class="layer_self_wrap" style="width:950px;display:none;margin-left:45px">
        <form id="devForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <input id="pageNum" type="hidden" name="pageNum"/>
            <input id="id" type="hidden" name="id"/>
            <div class="layui-form-item">
                <label class="layui-form-label"><span  style="color: red; "> * &nbsp;</span>电源额定功率</label>
                <div class="layui-input-inline">
                    <input id="powerRate2" name="powerRate" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label"><span  style="color: red; "> * &nbsp;</span>电源数量</label>
                <div class="layui-input-inline">
                    <input id="powerNum2" name="powerNum"  lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label"><span  style="color: red; "> * &nbsp;</span>操作系统类型</label>
                <div class="layui-input-inline">
                    <input id="systemType2" name="systemType"  lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span  style="color: red; "> * &nbsp;</span>操作系统版本</label>
                <div class="layui-input-inline">
                    <input id="systemVersion2" name="systemVersion"  lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label"><span  style="color: red; "> * &nbsp;</span>CPU数量</label>
                <div class="layui-input-inline">
                    <input id="cpuNum2" name="cpuNum" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>

                <label class="layui-form-label"><span  style="color: red; "> * &nbsp;</span>CPU型号</label>
                <div class="layui-input-inline">
                    <input id="cpuXh2" name="cpuXh" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span  style="color: red; "> * &nbsp;</span>CPU主频</label>
                <div class="layui-input-inline">
                    <input id="cpuZp2" name="cpuZp" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label"> </span>单CPU核数</label>
                <div class="layui-input-inline">
                    <input id="cpuHs2" name="cpuHs" autocomplete="off" class="layui-input" type="text" lay-verify="required"/>
                </div>
                <label class="layui-form-label"><span  style="color: red; "> * &nbsp;</span>内存条数量</label>
                <div class="layui-input-inline">
                    <input  id="romNum2"  name="romNum"  autocomplete="off" class="layui-input" type="text" lay-verify="required" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span  style="color: red; "> * &nbsp;</span>内存大小</label>
                <div class="layui-input-inline">
                    <input id="romSize2" name="romSize" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label"> </span>硬盘类型</label>
                <div class="layui-input-inline">
                    <input id="diskType2" name="diskType" autocomplete="off" lay-verify="required" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label"><span  style="color: red; "> * &nbsp;</span>硬盘数量</label>
                <div class="layui-input-inline">
                    <input  id="diskNum2"  name="diskNum"  autocomplete="off" class="layui-input" type="text" lay-verify="required" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span  style="color: red; "> * &nbsp;</span>硬盘容量</label>
                <div class="layui-input-inline">
                    <input id="diskSize2" name="diskSize" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label"> </span>HBA卡数</label>
                <div class="layui-input-inline">
                    <input id="hbaNum2" name="hbaNum" autocomplete="off" lay-verify="required" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label"><span  style="color: red; "> * &nbsp;</span>网卡数</label>
                <div class="layui-input-inline">
                    <input  id="netcardNum2"  name="netcardNum"  autocomplete="off" class="layui-input" type="text" lay-verify="required" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span  style="color: red; "> * &nbsp;</span>RAID方式</label>
                <div class="layui-input-inline">
                    <input id="raidDetail2" name="raidDetail" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label"> </span>外接存储</label>
                <div class="layui-input-inline">
                    <input id="externalRom2" name="externalRom" autocomplete="off" lay-verify="required" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label"><span  style="color: red; "> * &nbsp;</span>双机版本</label>
                <div class="layui-input-inline">
                    <input  id="doubleVersion2"  name="doubleVersion"  autocomplete="off" class="layui-input" type="text" lay-verify="required" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span  style="color: red; "> * &nbsp;</span>光口数</label>
                <div class="layui-input-inline">
                    <input id="gks2" name="gks" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label"> </span>用户名/口令</label>
                <div class="layui-input-inline">
                    <input id="serverPwd2" name="serverPwd" autocomplete="off" lay-verify="required" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label"><span  style="color: red; "> * &nbsp;</span>所属机房</label>
                <div class="layui-input-inline">
                    <select id="roomId2" name="roomId" autocomplete="off" class="layui-select" lay-verify="required">
                        <option value='' selected>请选择</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 10px;">
                    <button class="layui-btn"  lay-submit="" lay-filter="devSubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script  src="/js/dateUtils.js" type="text/javascript"></script>
    <script  src="/js/equipment/immsServerList.js" type="text/javascript"></script>

</div>
<style>
    .layui-table-cell {
        height: inherit;
    }
</style>
</body>
</html>