<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='用户管理'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">

        <form id="userSearch" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">字典编码</label>
                <div class="layui-input-inline">
                    <input id="codevalue" name="codevalue" autocomplete="off" class="layui-input" type="text"/>
                </div>

                <label class="layui-form-label">字典名称</label>
                <div class="layui-input-inline">
                    <input id="lable" name="lable" autocomplete="off" class="layui-input" type="text"/>
                </div>

                <label class="layui-form-label">字典类型</label>
                <div class="layui-input-inline">
                    <input id="columntype" name="columntype" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <div class="layui-inline">
                    <button type="reset" class="layui-btn layui-btn-primary"  >重置</button>
                    <button class="layui-btn"  lay-submit="" lay-filter="searchSubmit">查询</button>
                </div>
            </div>

        </form>

        <!--<hr class="layui-bg-blue"/>-->
        <hr class="layui-bg-black"/>

        <button class="layui-btn layui-btn-normal  layui-icon layui-icon-addition" onclick="addDic()">新增</button>

        <div style="display:none;" id="currentUser"><shiro:principal property="id"></shiro:principal></div>

        <table id="dicList" lay-filter="dicTable"></table>

        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs  layui-icon layui-icon-edit" lay-event="edit">编辑</a>
            <a th:if="${roleCode=='admin'}"  class="layui-btn layui-btn-danger layui-btn-xs layui-icon layui-icon-delete" lay-event="del">删除</a>

        </script>
    </div>


    <!--添加或编辑用户-->
    <div id="setDic" class="layer_self_wrap" style="width:500px;display:none;">
        <form id="dicForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <input id="pageNum" type="hidden" name="pageNum"/>
            <input id="id" type="hidden" name="id"/>
            <div class="layui-form-item">
                <label class="layui-form-label">字典编码</label>
                <div class="layui-input-inline">
                    <input id="codevalue1" name="codevalue" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">字典名称</label>
                <div class="layui-input-inline">
                    <input id="lable1" name="lable" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">字典类型</label>
                <div class="layui-input-inline">
                    <input id="columntype1" name="columntype" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-inline">
                    <input id="remark1" name="remark"   autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 10px;">
                    <button class="layui-btn"  lay-submit="" lay-filter="dicSubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary" >重置</button>
                </div>
            </div>
        </form>
    </div>

    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/dateUtils.js"></script>
    <script src="/js/base/dicList.js"></script>

</div>
</body>
</html>