<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="/js/jquery/jquery-3.3.1.min.js"></script>
</head>
<body>

<div class="layui-row" style="height: 200px">
    <div class="layui-col-xs12" style="text-align: center;padding: 0px;margin: 0px auto;">
        <img th:src="${path}"/>
    </div>
</div>
<div>
<!--    <input th:value="${path}"/>-->
</div>
</body>
</html>
